*{
	padding:  0;
	margin: 0;
	font-family: 'PT Serif', serif;
	}

.Cabeçalho{
	height: 150px;
	background-color: orange ;
	padding: 0 20px;
	color: white;
	}

.Menu{
	float:right;
	line-height: 150px;

}

.Titulo{
	float:left;
	line-height: 150px;
	padding: 10px 0px 0px 50px ;
	font-size: 50px;
}

.Menu a{
	color:#fff;
	text-transform: uppercase;
	text-decoration: none;
	padding: 0 10px;
	transition: 0.5;
}

.Mostrar-Menu{
	float:right;
}

.Mostrar-Menu i{
	line-height: 150px;

}

.Esconder-Menu, .Mostrar-Menu{
	transition: 0.5s;
	font-size: 30px;
	cursor: pointer;
	display: none;

}

.Menu a:hover,
.Esconder-Menu:hover,
.Mostrar-Menu:hover{
	color:#3498db;
}

#check{
	position: absolute;
	visibility: hidden;
	z-index: -1111;
}

.Conteudo{
	padding: 0 10px;
}
.Conteudo p{
	text-align: justify;
}

@media screen and (max-width:800px) {
	.Mostrar-Menu, .Esconder-menu{
		display: block;
}
	.Menu{
		position: fixed;
		height: 100vh;
		width: 100%;
		background-color:#333;
		left: 0;
		top: 0;
		text-align:center;
		padding:80px 0;
		line-height: normal;
	}
	.Menu a{
		display: block;
		padding: 20px;
	}
	.Esconder-Menu{
		position:absolute;
		top: 40px;
		right: 40px;
	}
	#check:checked~ .menu{
		right:0;

	}
}
