*{
	padding:  0;
	margin: 0;
	font-family: 'PT Serif', serif;
	overflow: auto;

	}

.Conteudo>p{
	margin-top: -100%;
	font-weight: normal;
    letter-spacing: 0.2em;
    text-align: center;
    margin: 0;
    padding: 1em 0;
    font-size: 30px;

}

.Cabeçalho{
	height: 100px;
	background-color: orange ;
	padding: 0 20px;
	color: white;
	overflow: hidden;
	width: 100%;
}

.Menu{
	float:right;
	line-height: 100px;

}

#Titulo{
	float:left;
	line-height: 100px;
	padding: 10px 0px 0px 50px ;
	font-size: 50px;
	color: black;
}

.Menu a{
	color:#fff;
	text-transform: uppercase;
	text-decoration: none;
	padding: 0 10px;
	transition: 0.5s;
	font-size: 16px;
	letter-spacing: 1px;
}

.Mostrar-Menu{
	float: right;
}

.Mostrar-Menu i{
	line-height: 100px;

}

.Mostrar-Menu, .Esconder-Menu{
	transition: 0.5s;
	font-size: 30px;
	cursor: pointer;
	display: none;
	overflow: hidden;

}

.Menu a:hover,
.Mostrar-Menu:hover,
.Esconder-Menu:hover{
	color:#3498db;
}

.w3-bar:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#check{
	position: absolute;
	display: none;
	z-index: -1111;
}
@media screen and (max-width: 800px) {
	.Mostrar-Menu ,.Esconder-Menu{
		display: block;
}
	.Menu{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #333;
		right: -100%;
		top: 0;
		left: 0;
		text-align: center;
		padding: 80px 0;
		line-height: normal;
		transition: 0.7s;
}
	.Menu a{
		display: block;
		padding: 20px;

}
	.Esconder-Menu{
		position: absolute;
		top: 40px;
		right: 40px;
}
	#check:checked ~.Menu{
		display: none;
}
}
